h1 {
    color: cyan;
}
* {
    border: solid;
}

.header{
    background-color: blanchedalmond;
    display: flex;
    justify-content:space-between ;
}


.grid{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;

}

h2,p {
    color: yellowgreen;
    text-align:center;

}